node_modules

/.cache
/build
/app/build
/public/build/
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
/3_2-wasm32-unknown-wasi-full
*wasm

.env
package-lock.json
yarn.lock
